{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ encore_entry_link_tags('app') }}

{% endblock %}
{% block title %}Wild Series
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}

	<h1>Program {{ id }}
		</h1>

{% endblock %}
